#body {
  display:  flex;
}
#sidebar {
  width:  30%;
}
#separator {
  width:   0px;
  margin-top:  0px;
  margin-bottom:  0px;
  border:  thin dashed #C0C0C0;
}
#sidebar_header {
  width: 100%;
  text-align: center;
}
#main {
  width:  70%;
}
#main_header {
  width: 100%;
  text-align: center;
}
.sidebar_level_0 {
  margin-left: 10%;
}
.sidebar_level_1 {
  margin-left: 20%;
}
