#body {
  display: flex;
  flex-direction:  column;
}
#errorbar {
  width:  100%;
  text-align: center;
  color: white;
  background-color: darkred;
}
#workarea {
  width:  100%;
  display:  flex;
}

#sidebar {
  width:  30%;
}
.separator {
  width:   0px;
  margin-top:  0px;
  margin-bottom:  0px;
  border:  thin dashed #C0C0C0;
}
#sidebar_header {
  width: 100%;
  text-align: center;
}
#main {
  width:  70%;
}
#main_header {
  width: 100%;
  text-align: center;
}
#main_body {
  width: 100%;
  text-align: center;
  flex-direction: column;
}
.config_entry {
  display: flex;
  flex-direction: row;
}
.config_select {
  text-align: left;
  margin-left: 5%;
  width: 5%;
}
.config_key {
  text-align: left;
  margin-left: 5%;
  width: 25%;
}
.config_value {
  margin-right: 5%;
  width: 70%;
}
.config_channels_header {
}
.config_add_channel {  
  width: 100%;
  display: flex;
  flex-direction: row;
}

.config_channel_def_id_div {  
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: thin dashed #C0C0C0;
}

.config_channel_def_id_label {  
  width: 15%;
  font-weight: 500;
  text-align: left;
}
.config_channel_def_id_value {  
  width: 30%;
  font-size: smaller;
  text-align: left;
}

.config_edit_channel {
  width: 35%;
  text-align: center;
  font-size: smaller;
}

.config_delete_channel {
  width: 35%;
  text-align: center;
  font-size: smaller;
}

.config_channel_def_label_div {  
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: thin dashed #C0C0C0;
}

.config_channel_def_label_label {  
  width: 15%;
  font-weight: 500;
  text-align: left;
}
.config_channel_def_label_value {  
  width: 100%;
  font-size: smaller;
  text-align: left;
}

.config_channel_def_format_div {  
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: thin dashed #C0C0C0;
}

.config_channel_def_format_label {  
  width: 15%;
  font-weight: 500;
  text-align: left;
}
.config_channel_def_format_value {  
  width: 100%;
  font-size: small;
  font-family: monospace;
  text-align: left;
}

.config_channel_def_rules_div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.config_channel_def_rules_label {  
  width: 15%;
  font-weight: 500;
  text-align: left;
}
.config_channel_def_rules_rule_list {  
  width: 100%;
  text-align: left;
}

.config_channel_def_rule {
  display: flex;
  flex-direction: row;  
  border-bottom: thin dashed #C0C0C0;
}
.config_channel_def_rule_src {
  width: 20%;
  font-size: smaller;
  text-align: left;

}
.config_channel_def_rule_cond {
  width: 100%;
  font-size: small;
  font-family: monospace;
  text-align: left;
}

.config_new_channel {
  margin-left:  5%;
  margin-right: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.config_new_channel_label {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.config_new_channel_def_label {
  white-space: nowrap;
  margin: 1px;
  padding: 1px;
  margin-top: auto;
  margin-bottom: auto;

}
.config_new_channel_def_value {
  margin-top: auto;
  margin-bottom: auto;  
  white-space: nowrap;
  margin: 1px;
  padding: 1px;
}

.config_new_channel_submit {
/*  width: 20%; */
  margin: 1px;
  padding: 1px;
}

.config_channel_edit_form {
  width: 100%;
/*  display: flex; */
  white-space: nowrap;
/*  flex-direction: row; */
}
.config_channel_edit_label_div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.config_channel_edit_label_label {
  text-align: left;
  width: 20%;
}
.config_channel_edit_label_value {
  margin-left: 5px;
  width: 100%;
}
.config_channel_edit_format_div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.config_channel_edit_format_label {
  text-align: left;
  width: 20%;
}
.config_channel_edit_format_value {
  margin-left: 5px;
  width: 100%;
}

.config_channel_edit_rule_div {
  width: 100%;
  display: flex;
  flex-direction: row;
}


.config_channel_edit_rule_src_label {
  text-align: left;
  width: 20%;
}
.config_channel_edit_rule_src_value {
  margin-left: 5px;
  width: 20%;
}
.config_channel_edit_rule_cond_label {
  text-align: left;
  width: 20%;
}
.config_channel_edit_rule_cond_value {
  margin-left: 5px;
  width: 80%;
}

.config_channel_new_rule {
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
}


.config_add_entry {  
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  justify-content: justify;
}

.config_new_key_label {
  padding-left: 10px;
  padding-right: 10px;
}
.config_new_key_input {
  padding-left: 10px;
  padding-right: 10px;
}
.config_new_value_label {
  padding-left: 10px;
  padding-right: 10px;
}
.config_new_value_input {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.config_new_value_submit {
  padding-left: 10px;
  padding-right: 10px;
}

.config_value > input {
  width: 100%;
}
.config_save_delete {
  display: flex;
  flex-direction: row;
  justify-content: justify;
  width:  100%;
}
.config_save_delete_delete {
  margin-left: 5px;
}
.config_save_delete_save {
  margin-left: 50%;
  margin-right: 5px;
}

.sidebar_level_0 {
  margin-left: 10%;
}
.sidebar_level_1 {
  margin-left: 20%;
}

.config_chlist {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.config_chlist_id {
  display: flex;
  flex-direction: row;
  border: thin dashed #C0C0C0;
  justify-content: left;
  width: 10%;
  padding-left: 10px;
}

.config_chlist_id_label {
  font-weight: bold;
}

.config_chlist_id_value {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.config_chlist_label {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  border: thin dashed #C0C0C0;
  justify-content: left;
  width: 20%;
}

.config_chlist_label_label {
  font-weight: bold;
}
.config_chlist_label_value {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.config_chlist_sources {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  border: thin dashed #C0C0C0;
  justify-content: left;
  width: 100%;
}
.config_chlist_sources_label {
  font-weight: bold;
}
.config_chlist_sinks {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  border: thin dashed #C0C0C0;
  justify-content: left;
  width: 100%;
}
.config_chlist_sinks_label {
  font-weight: bold;
}
.channel {
  display: flex;
  flex-direction: row;
  width: 100%;

}
.channel_id {
  margin-left: 10%;
  width: 10%;
  margin-right: 10%;
  text-align: left;
}
.channel_descr {
  margin-left: 10%;
  width: 90%;
  margin-right: 10%;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.channel_label {
  text-align: left;
}

.channel_sinks {
  font-size: smaller;
  text-align: left;
}

.new_entry {
  width: 100%;
}
